body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
}

main {
    flex-grow: 1;
    background-color: #EC1C24;
    padding: 70px;
}

main p {
    font-size: 48px;
}
